<script>
  document.title ="Behre - Homepage"
</script>
<table id="calendar">
  <colgroup>
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 60%;">
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 10%;">
    </colgroup>
</table>
<img id="settingslink" src="/static/gear.png" onclick="javascript:location.href='/settings'">
<script src="/static/dataProvider.js"> </script>
<script src="/static/home.js"> </script>
<link rel="stylesheet" href="static/home.css">
