<script>
  document.title ="Behre - Homepage"
</script>
<link rel="stylesheet" href="static/home.css">
<table id="calendar">
  <colgroup>
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 60%;">
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 10%;">
    </colgroup>
</table>
<div id="Event" onclick="changeEventVisibility();"><button onclick="buy();">Kaufen</button></div>
<img id="settingslink" src="/static/gear.png" onclick="javascript:location.href='/settings'">
<div id="pointscore" ></div>
<div id="getpoints" onclick="changeScore(5);"> maaa </div>
<div id="recommendedevent" onclick="changeEventVisibility();"></div>
<script src="/static/dataProvider.js"> </script>
<script src="/static/home.js"> </script>
