<script>
  document.title ="Behre - Homepage"
</script>
<div id="calendar"></div>
<script src="/static/dataProvider.js"> </script>
<script src="/static/home.js"> </script>
<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
</table>
<link rel="stylesheet" href="static/home.css">
