<script>
  document.title ="Behre - Settings"
</script>
<link rel="stylesheet" href="static/settings.css">
<div id="Eventtypes">
  <img id="party" alt="Error" onclick="SetInterest(0)">
  <img id="reading" alt="Error" onclick="SetInterest(1)">
  <img id="art" alt="Error" onclick="SetInterest(2)">
  <img id="group" alt="Error" onclick="SetInterest(3)">
</div>
<script src="../static/dataProvider.js"> </script>
<script src="../static/settings.js"> </script>
