<script>
  document.title ="Behre - Settings"
</script>
<link rel="stylesheet" href="static/settings.css">
<div id="Eventtypes">
  <img id="party" alt="Error" onload="createButton(this.id)">
  <img id="reading" alt="Error" onload="createButton(this.id)">
  <img id="art" alt="Error" onload="createButton(this.id)">
  <img id="group" alt="Error" onload="createButton(this.id)">
</div>
<script src="../static/dataProvider.js"> </script>
<script src="../static/settings.js"> </script>
