<html>
<head>
  <title>Behre</title>
  <meta name="google-signin-client_id" content="677982745310-qok4ljrbnrp0qjmqahl6niofgfp6chgt.apps.googleusercontent.com">
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  {{{body}}}
</body>
</html>
