<html>
<head>
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
  <title>Behre</title>
  <meta name="google-signin-client_id" content="677982745310-qok4ljrbnrp0qjmqahl6niofgfp6chgt.apps.googleusercontent.com">
  <link rel="stylesheet" href="static/style.css">
  <div id="Header">
    <div id="Logo" onclick="javascript:location.href='/static/icon.png'">
      <img src="static/transparent.png" alt="Behre" width="100%" height="100%">
    </div>
  </div>
  <div id="CompanyName" onclick="javascript:location.href='/static/icon.png'">Behre</div>
  <div id="Settings" >
</head>
<body>
  {{{body}}}
</body>
</html>
