table {
  cursor: pointer;
  background-color: darkgrey;
  position:absolute;
  left: 55%;
  top: 6em;
  width: 35%;
  font-size: 1em;
  line-height: 1.5em;
  border-collapse: collapse;
}
#recommendedevent {
  font-size: 5em;
  cursor: pointer;
  background-color: darkblue;
  position:absolute;
  left: 10%;
  top: 6rem;
  width: 35%;
  height: 35%;
  border-collapse: collapse;
}
#Event{
  font-size: 10em;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  background-color: darkblue;
  position:absolute;
  left: 10%;
  top: 6rem;
  width: 35%;
  height: 35%;
  border-collapse: collapse;
  z-index: 999;
  transition: all 334ms;
}
.anim{
  opacity: 1 !important;
  width: 75% !important;
  height: 75% !important;
}
#pointscore {
  cursor: pointer;
  color: lightgrey;
  position:absolute;
  left: calc(100% - 2em);
  top: 0;
  width: calc(4em/3.5em);
  height: calc(4em/3.5em);
  border-collapse: collapse;
  font-size: 3.5em;
  z-index: 999;
}
#getpoints {
  cursor: pointer;
  background-color: darkred;
  position:absolute;
  left: 10%;
  top: 50%;
  height: 35%;
  width: 35%;
  line-height: 3em;
  border-collapse: collapse;
}
#settingslink {
  cursor: pointer;
  position:absolute;
  left: calc(100% - 4em);
  top: 0px;
  width: 4em;
  height: 4em;
  z-index: 999;
}
