table {
  background-color: darkgrey;
  position:absolute;
  left: 5%;
  top: 6em;
  width: 90%;
  font-size: 2em;
  line-height: 3em;
  border-collapse: collapse;
}

#settingslink {
  cursor: pointer;
  position:absolute;
  left: calc(100% - 4em);
  top: 0px;
  width: 4em;
  height: 4em;
  z-index: 999;
}
