@media all and (orientation:landscape) {
  img {
    cursor: pointer;
  }

  #party {
    position:absolute;
    left: calc((100vw - 88vh)/2);
    top: 6em;
    height: 40vh;
    width: 40vh;
    margin: auto;
  }

  #reading {
    position:absolute;
    left: calc(100vw - 40vh - (100vw - 88vh)/2);
    top: 6em;
    height: 40vh;
    width: 40vh;
    margin: auto;
  }

  #art {
    position:absolute;
    left: calc((100vw - 88vh)/2);;
    top: calc(44vh + 6em);
    height: 40vh;
    width: 40vh;
    margin: auto;
  }

  #group {
    position:absolute;
    left: calc(100vw - 40vh - (100vw - 88vh)/2);
    top: calc(44vh + 6em);
    height: 40vh;
    width: 40vh;
    margin: auto;
  }
}







@media all and (orientation:portrait) {
  #party {
    position:relative;
    left: 9vw;
    top: 6em;
    height: 40vw;
    width: 40vw;
    margin: auto;
  }

  #reading {
    position:relative;
    left: 51vw;
    top: 6em;
    height: 40vw;
    width: 40vw;
    margin: auto;
  }

  #art {
    position:relative;
    left: 9vw;
    top: 55vw;
    height: 40vw;
    width: 40vw;
    margin: auto;
  }

  #group {
    position:relative;
    left: 51vw;
    top: 55vw;
    height: 40vw;
    width: 40vw;
    margin: auto;
  }
}
